.drop, .beaker {
  width: 100%;
}

.drop {
  height: 300px;
  transition: transform 800ms ease, height 800ms ease;
  position: relative;
  z-index: -1;
}

.quarter {
  transform: scale(0.25);
}

.half {
  height: 150px;
}

.beaker {
  height: 400px;
  transition: transform 800ms ease, height 800ms ease;
}

.liquid {
  transition: fill 400ms ease;
  transform: translateX(2px);
  position: relative;
  z-index: 0;
}

.fillred {
  fill: #F44336 !important;
}

.top {
  z-index: 2 !important;
}

.cursive {
  font-family: "Pacifico";
}
