@keyframes pop {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.dev-context-menu {
  z-index: 10000;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  line-height: 10px;
  padding: 5px;
  margin: 10px;
}

.dev-context-menu > * {
  cursor: pointer;
}

.dev-context-menu > div {
  padding: 5px;
}

.dev-context-menu > *:first-child {
  border-bottom: 1px solid #9e9e9e;
}

.icon {
  transform: scale(0);
  transition: transform 800ms ease;
  display: block;
  height: 175px;
}

.cursive {
  font-family: "Pacifico";
}

.account > i.material-icons, .account > img.face {
  width: 200px;
  height: 200px;
  font-size: 180px;
  animation: pop 800ms ease;
}

.account.hidden {
  animation: popIn 800ms ease;
  animation-fill-mode: forwards;
}

.account > img.face {
  background-size: cover;
}

.account * {
  display: block;
  -webkit-user-select: none;
}

.accounts {
  margin-top: 100px;
}

.account {
  cursor: pointer;
  width: 200px;
  display: inline-block;
  margin: 20px 60px;
  margin-left: 0;
}

.account > h3 {
  width: 200px;
}

.thin {
  font-weight: 300;
}
